main {
    position: absolute;
    top: 25vh;
    left: 0%;
    width: 100vw;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #b8b661;
    background-color: #fef3ed;
}

#Title {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 25vh;
    background-color: #d8daf3;
}

#Title h1 {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #90a9eb;
}


#Title p {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #90a9eb;
}

#Title a {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}