main {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #b8b661;
    background-color: #eae9d5;
}

#Title {
    position: absolute;
    width: 25vw;
    height: 25vh;
    background-color: #d8daf3;
}

#Title h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #90a9eb;
}

#Title p {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #90a9eb;
}