main {
    position: absolute;
    top: 25vh;
    left: 0%;
    width: 100vw;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #b8b661;
    background-color: #fef3ed;
}

#Title {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 25vh;
    background-color: #d8daf3;
}

#Title h1 {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #90a9eb;
}


#Title p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #90a9eb;
    text-align: center;
}

#Activities {
    position:absolute;
    width: calc(100% * 1/3);
    height: 100vh;
}

#TinyProjects {
    position: absolute;
    width: calc(100% * 1/3);
    left: calc(100% * 1/3);
    height: 100vh;
}

#MajorProject {
    position: absolute;
    width: calc(100% * 1/3);
    left: calc(100% * 2/3);
    height: 100vh;
}

#Activities h2, #TinyProjects h2, #MajorProject h2 {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
}

#Activities ul, #TinyProjects ul, #MajorProject ul {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2em;
}