main {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 1rem;
}

p {
    font-size: 1.25rem;
    line-height: 1.5rem;
}

.callout {
    font-style: italic;
    float: right;
}

#P1 {
    margin-left: calc(100% * 1/6);
}

#P2{
margin-left: calc(100% * 1/6);
}

#P3{
margin-left: calc(100% * 1/6);
}

#P4{
margin-left: calc(100% * 1/6);
}

#P5{
margin-left: calc(100% * 1/6);
}

#P6{
margin-left: calc(100% * 1/6);
}

#P7{
margin-left: calc(100% * 1/6);
}

#P8{
margin-left: calc(100% * 1/6);
}

#P9{
margin-left: calc(100% * 1/6);
}

#P10{
margin-left: calc(100% * 1/6);
}

#P11{
margin-left: calc(100% * 1/6);
}