
* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

header {
    width: 50vw;
    height: 50vh;
}

#RhodiePic {
    position: absolute;
    width: 50vw;
    height: 50vh;
    background-image: url(Pacific\ Rhododendron\ 1\ -\ Walter\ Siegmund.jpeg);
    background-size: cover;
    background-position: center;
}

#RhodieTitle {
    position: absolute;
    width: 50vw;
    height: 50vh;
}

#RhodieTitle h1 {
    position: absolute;
    color: #dabfd8;
}

main {
    color: #374b18;
}