body {
    margin: 0%;
    padding-top: 0%;
    padding: 0%;
}

header {
    max-width: 100vw;
    height: auto;
}

#RhodieTitle {
    
}

#RhodieTitle h1 {
    color: #dabfd8;
}

main {
    color: #374b18;
}