
* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    height: 100vh;
}

#RhodiePic {
    position: absolute;
    width: 25vw;
    height: 25vh;
    background-image: url(Pacific\ Rhododendron\ 1\ -\ Walter\ Siegmund.jpeg);
}

#RhodieTitle {
    position: absolute;
    width: 25vw;
    height: 25vh;
}

#RhodieTitle h1 {
    position: absolute;
    color: #dabfd8;
}

main {
    color: #374b18;
}