* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

main {
    height: 500vh;
    background-size: cover;
    background-image: url("spaceneedle.jpg");
    background-repeat: no-repeat;
    background-position: center top;
}