* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

header {
    width: 100vw;
    height: 100vh;
}

#ApplePic {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url("applepie.jpg");
    background-size: cover;
}

#AppleTitle {
    position: absolute;
    width: 100vw;
    height: 100vh;
}
